.vehicle-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.vehicle-icon-name {
  font-weight: bold;
  font-size: 2em;
  color: #000;
  text-shadow: 2px 2px 0 #fff, -2px 2px 0 #fff, -2px -2px 0 #fff,
    2px -2px 0 #fff;
}

.vehicle-icon:after {
  position: absolute;
  content: "";
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 10px solid black;
  bottom: 0px;
  z-index: 2;
}
