#root {
  width: 100%
}

.socket-error {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  z-index: 1000000;
}

.map-wrapper {
  display: flex;
  height: 100vh;
  width: 100%;
  justify-content: center;
}

.map-tile {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  height: 100%;
}

.map-tile-header {
  border-bottom: 1px solid rgb(43, 57, 77);
  margin: -0.5rem -0.5rem 0.5rem -0.5rem;
  padding: 0.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.map-tile-header img {
  margin: 0 0.25rem;
  cursor: pointer;
}

.selected-vehicle-wrapper {
  display: flex;
  flex-direction: column;
  width: 50%;
}

@media (max-width: 62.5rem) {
  .map-wrapper {
    flex-direction: column;
  }
}

